/* All Pages Style */

body {
  padding-top: 70px;
  background-image: url('../img/dark-green-background.gif');
  font-family: Arial;
}

.footer {
  /* Sticky Footer */
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
}



/* Homepage Style */

.coming-soon-text {
  color: transparent;
  font-size: 110px;
  font-family: Arial;
  text-shadow: -1px 0 black;

}

.logo-text {
  color: #e6e6e6;
  font-size: 240px;
  font-family: Arial;
}

.e-text {
  font-size: 200px;
}

text {
  padding-top: 100px;
}


/* Contact Page Style */

