/* All Pages Style */

.footer {
  /* Sticky Footer */
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
}



/* Homepage Style */

#coming-soon-image {
  width: 100%;
}

#homepage {
  background-color: #000000;
}


/* Contact Page Style */

