<!-- Contact Us -->
<div class="container-fluid bg-1 text-center">
  <div class="container"> 

  <br><br><br>

    <div class="panel panel-default">
      <!-- Header -->
      <div class="panel-heading">
        <h1 class="panel-title"><strong>Contact Us!</strong></h1>
      </div>

        <form action= "/email-us" method="post">
          <div class="panel-body">

            <div class="row">
              <h4 class="signupFormTitle">Name</h4>
              <div class="col-sm-3"></div>
              <div class="col-sm-6">
                <input id="personName" class="input-required form-control" type="text" name="name" placeholder="Jonathan Eckstein">
              </div>
            </div>

            <br><br>

            <div class="row">
              <h4 class="signupFormTitle">Email Address</h4>
              <div class="col-sm-3"></div>
              <div class="col-sm-6">
                <input id="personEmail" class="input-required form-control" type="email" name="email" placeholder="jeckstein@erena.com">
              </div>
            </div> 

            <br><br>

            <div class="row">
              <h4 class="signupFormTitle">Message</h4>
              <div class="col-sm-3"></div>
              <div class="col-sm-6">
                <textarea rows="4" id="personMessage" class="input-required form-control" type="text" name="message" placeholder="I want to learn more!"></textarea>
              </div>
            </div>    

            <br><br>

            <!-- Submit Button -->
            <div class="row">
              <div class="col-sm-4"></div>
              <button id="submitButton" type="submit" class="btn btn-md btn-default col-sm-4 btn-danger"><h4><span class="glyphicon glyphicon-send"></span> Submit</h4></button>
            </div>

        </div>
      </form>

  </div>
</div>


<!-- Link In  -->
