<!-- Coming Soon Image -->
<center>
  <div class="row">
    <br/>
    <h1 class="coming-soon-text">Coming Soon</h1>
    <br/>
    <h1 class="logo-text">[<span class="e-text">E</span>]</h1>
  </div>
</center>